# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
cmake-build-debug/

lidar/build
radar/build
3d_object_tracking/build
3d_object_tracking/images
3d_object_tracking/dat
*.weights
*.bin
*.png
*.pcd